@model CRUD.Models.ProductViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Create Product";
}

<div class="container mt-4">
    <h2 class="mb-3">Create Product</h2>

    <form asp-action="Create" method="post">
        <input type="hidden" name="CategoryName" value="abcd" />
        <div class="mb-3">
            <label class="form-label">Product Name</label>
            <input name="ProductName" class="form-control" required />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Category</label>
            <select name="CategoryId" asp-for="CategoryId" class="form-control" required>
                <option value="">-- Select Category --</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Value">@category.Text</option>
                }
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
            @* <select name="CategoryId" asp-items="Model.Categories" class="form-control">
                <option value="">-- Select Category --</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span> *@
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/Product/Index" class="btn btn-secondary">Back</a>
    </form>
</div>
